:root {
	--green: #17a99c;
	--light-green: #2bbeb4;
	--dark-green: #009d99;
	--extra-light-green: #e3f9f0;
}

@font-face {
	font-family: quickSandRegular;
	src: url("/assets/fonts/Quicksand-Regular.ttf");
}

@font-face {
	font-family: quickSandMedium;
	src: url("/assets/fonts/Quicksand-Medium.ttf");
}

@font-face {
	font-family: quickSandBold;
	src: url("/assets/fonts/Quicksand-Bold.ttf");
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: quickSandMedium, -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	color: white;
	background-color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* Fonts */
.font-quick-sand-medium {
	font-family: quickSandMedium;
}

.font-quick-sand-bold {
	font-family: quickSandBold;
}

.font-size-35 {
	font-size: 35px;
}

.font-size-28,
.font-size-28b {
	font-size: 28px;
}

.font-size-20,
.font-size-20b {
	font-size: 20px;
}

.font-size-18 {
	font-size: 18px;
}

.font-size-15 {
	font-size: 15px;
}

.font-size-14 {
	font-size: 14px;
}

.font-size-12 {
	font-size: 12px;
}

.font-size-10 {
	font-size: 10px;
}
/*  */

/* Colors */
.color-green,
.color-green:hover {
	color: var(--green);
}

.color-light-green {
	color: var(--light-green);
}

.color-dark-green {
	color: var(--dark-green);
}

.color-white {
	color: white;
}
/*  */

/* Backgrounds */
.bg-light-green {
	background-color: var(--light-green);
}

.bg-dark-green {
	background-color: var(--dark-green);
}

.bg-landing,
.bg-question,
.bg-result,
.bg-form {
	background-size: cover;
	background-position: top;
}

.bg-landing {
	background-image: url("/assets/images/UiBgLand.png");
}

.bg-question {
	background-image: url("/assets/images/UiBgQues.png");
}

.bg-result,
.bg-form {
	background-image: url("/assets/images/UiWebRes.png");
}

.bg-white {
	background-color: white;
}

.bg-form {
	padding-top: 7rem;
	padding-bottom: 7rem;
}
/*  */

/* Borders */
.border-white {
	border: 2px solid white;
}

.border-green,
.border-green:hover {
	border: 1px solid var(--green);
}

.border-green-bold {
	border: 2px solid var(--green);
}

.border-bottom-green-dashed {
	border-bottom: 1px dashed var(--green);
}
/*  */

/* Line heights */
.line-height-25 {
	line-height: 25px;
}
/*  */

.header-web,
.header-result {
	z-index: 0;
	position: absolute;
	width: 100%;
	height: auto;
	top: 58px;
	left: 0;
}

.bg-landing h1 {
	margin-top: 1.5rem;
	margin-bottom: 7rem;
}

.bg-question h1 {
	margin-top: 2rem;
	margin-bottom: 11rem;
}

.bg-result .result-content {
	margin-top: 10rem;
}

.cursor-pointer {
	cursor: pointer;
}

.fullwidth-row > * {
	padding-left: 0;
	padding-right: 0;
}

.form-control:focus {
	box-shadow: 0 0 0 0.25rem rgba(23, 169, 156, 0.25);
}

.form-check-input {
	border: 1px solid var(--green);
	background-color: transparent;
}

.form-check-input:checked {
	background-color: var(--green);
}

.invitation-modal-content {
	background-color: var(--extra-light-green);
	border-radius: 20px;
}

.invitation-separator {
	margin: 0 auto;
	border-left: 3px solid var(--dark-green);
	height: 100%;
	width: 2px;
}

.shadow {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}

.share-to {
	font-family: quickSandBold;
	font-size: 24px;
}

.scroll-ke-bawah {
	bottom: -4.5%;
}

.modal-dialog-centered {
	justify-content: center;
}

.invitation-logo {
	max-width: 100px;
}

.tnc-required {
	margin-left: 30px;
}

@media (max-width: 575.98px) {
	.bg-landing .bg-form {
		background-image: url("/assets/images/UiBgQues.png");
	}

	.bg-result {
		background-image: none;
		background-color: var(--extra-light-green);
	}

	.bg-landing h1 {
		margin-bottom: 4rem;
	}

	.bg-question h1 {
		margin-bottom: 5rem;
	}

	.font-size-28 {
		font-size: 23px;
	}

	.font-size-28b {
		font-size: 17px;
	}

	.font-size-20 {
		font-size: 16px;
	}

	.font-size-20b,
	.font-size-14 {
		font-size: 12px;
	}

	.font-size-18,
	.font-size-15 {
		font-size: 13px;
	}

	.font-size-35 {
		font-size: 20px;
	}

	.header-web {
		height: 150px;
	}

	.header-result {
		height: 75px;
	}

	.bg-result .result-content {
		margin-top: 5rem;
	}

	.share-to {
		font-family: quickSandMedium;
		font-size: 14px;
	}

	.scroll-ke-bawah {
		bottom: 0;
	}

	.bg-form {
		background-size: contain;
		background-position: bottom;
		background-repeat: no-repeat;
		background-color: var(--extra-light-green);
	}

	.invitation-modal-content {
		width: 85%;
		border-radius: 10px;
	}

	.invitation-logo {
		max-width: 50px;
	}

	.border-green-bold {
		border: 1px solid var(--green);
	}

	.border-bottom-green-dashed {
		border-bottom: 2px solid var(--green);
	}

	.line-height-25 {
		line-height: 15px;
	}

	small.form-text {
		font-size: 10px;
	}

	.tnc-required {
		margin-left: 18px;
	}
}
